.st {
  padding: 5vh 0;
}

html {
  font-size: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.7rem;
  line-height: 140%;
  color: #444444;
  padding-top: 71px;
}

.hidden {
  display: none;
}

.img-respons {
  position: relative;
  display: inline-block;
  max-width: 100%;
}

.text-center {
  text-align: center;
}

a {
  color: #064ea7;
}

.h1 {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 4rem;
  line-height: 120%;
  margin-bottom: 2vh;
  color: #444444;
}

.h2 {
  font-family: 'Fira Sans Condensed', sans-serif;
  text-align: center;
  font-size: 3rem;
  color: #064ea7;
  margin: 1rem 0 3rem;
}

.h3 {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 2.4rem;
  line-height: 120%;
  margin-bottom: 1.5rem;
}

.h4 {
  font-size: 1.8rem;
}

.subhead {
  font-size: 2.2rem;
  line-height: 120%;
  color: #444444;
  margin-bottom: 0.8rem;
}

.responseimg {
  display: block;
  width: 100%;
  max-width: 100%;
}

button:active, button:focus, button:hover {
  outline: none;
}

.base-btn {
  display: inline-block;
  border: none;
  outline: none;
  overflow: hidden;
  background-color: #ffc01e;
  color: #444444;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 1.8rem;
  margin-top: 2rem;
  padding: 10px 30px;
  border-radius: 3rem;
}

.base-btn:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.base-btn:active {
  background-color: #d19600;
  color: #111111;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s;
}

.order-btn {
  display: inline-block;
  border: none;
  outline: none;
  overflow: hidden;
  background-color: #379b00;
  text-align: center;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 1.8rem;
  padding: 6px 20px;
  border-radius: 3rem;
}

.order-btn:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.order-btn:active {
  background-color: #1c4f00;
  color: #cccccc;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s;
}

.modal-overlay {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  z-index: 11;
}

.modal-overlay--visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modal-overlay .modal {
  position: absolute;
  max-width: 500px;
  padding: 3rem;
  background-color: #fff;
  text-align: center;
  border-radius: 8px;
  display: none;
}

.modal-overlay .modal--visible {
  display: block;
}

.modal-overlay .modal .modal-close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
  background-color: transparent;
  font-size: 3rem;
  color: #666666;
}

.modal-overlay .modal .modalform .form-input {
  width: 100%;
  padding: 6px 12px;
  background-color: #e0e0e0;
  border: none;
  border-bottom: 1px solid #999;
  border-radius: 4px;
  margin-top: 2rem;
}

.modal-overlay .modal .modalform .base-btn {
  margin-top: 2rem;
}

.header-main {
  position: relative;
}

.header-second {
  height: 1rem;
}

.topmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 70px;
  background-color: #fff;
  z-index: 10;
}

.topmenu .logo {
  display: block;
  margin: auto;
  text-align: center;
}

.topmenu .logo img {
  max-width: 220px;
}

.topmenu .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.topmenu .nav ul li a {
  font-size: 1.7rem;
  color: #444444;
}

.topmenu .phone {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #064ea7;
  text-align: center;
  padding: 10px 0;
}

.topmenu .phone .icon-phone {
  color: #349b04;
}

.topmenu_overlay {
  position: absolute;
  height: 6px;
  bottom: -6px;
  left: 0;
  right: 0;
  background-color: rgba(6, 78, 167, 0.65);
}

.header-main .header_baner {
  position: relative;
  background-image: url(../img/header_bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding: 5rem 0;
}

.header-main .header_baner .main-intro {
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.35);
          box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.35);
  padding: 2rem;
}

.header-main .advantages {
  padding: 2rem 0 1rem;
}

.header-main .advantages .advantage-item {
  text-align: center;
  font-size: 2rem;
  line-height: 120%;
  margin: 0 0 2rem;
}

.header-main .advantages .advantage-item img {
  max-width: 160px;
  display: inline-block;
  margin-bottom: 1rem;
}

.about {
  background-color: #e6f0ff;
}

.about .aboutimg {
  width: auto;
  max-height: 610px;
  margin: auto;
}

.about .about-block .about_text {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  padding-left: 2.2rem;
  line-height: 120%;
  color: #444444;
  margin-bottom: 1.8rem;
}

.about .about-block .about_text::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 8px;
  width: 8px;
  height: 8px;
  background: #064ea7;
}

.about .comparison {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem 0 3rem;
}

.about .comparison ul {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.about .comparison .positive li {
  padding-left: 3rem;
  line-height: 120%;
  margin-bottom: 1rem;
}

.about .comparison .positive li::before {
  content: '\e800';
  font-family: fontello;
  position: absolute;
  left: 0;
  color: #379b00;
}

.about .comparison .negative li {
  padding-left: 3rem;
  line-height: 120%;
  margin-bottom: 1rem;
}

.about .comparison .negative li::before {
  content: '\e801';
  font-family: fontello;
  position: absolute;
  left: 0;
  color: #e60500;
}

.howwork .steps {
  margin: 3vh 0;
}

.cleanstep-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 3rem;
}

.cleanstep-item .item-img {
  max-width: 170px;
  border: 4px solid #379b00;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 2rem;
}

.cleanstep-item .item-img img {
  display: block;
  width: 100%;
}

.cleanstep-item .item-title {
  font-size: 2rem;
  font-weight: 700;
  color: #064ea7;
  margin-bottom: 1rem;
}

.catalog {
  background-color: #e7e7e7;
  padding-left: 30px;
  padding-right: 30px;
}

.catalog .catalog-slider_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  padding: 16px;
}

.catalog .catalog-slider_item .model-name {
  color: #444444;
  text-align: center;
}

.catalog .catalog-slider_item .model-image {
  display: block;
  margin-bottom: 6px;
  text-align: center;
}

.catalog .catalog-slider_item .model-image img {
  display: inline-block;
  max-width: 250px;
}

.catalog .catalog-slider_item .model-parametr {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
}

.catalog .catalog-slider_item .model-parametr li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #acacac;
  padding: 4px 0 0;
}

.catalog .catalog-slider_item .model-parametr li span {
  display: inline-block;
  font-family: 'Fira Sans Condensed', sans-serif;
  text-align: left;
}

.catalog .catalog-slider_item .rentprice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 8px;
  font-size: 1.8rem;
  text-align: right;
  color: #064ea7;
}

.catalog .catalog-slider_item .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.4rem;
  text-align: right;
  color: #666666;
}

.catalog .catalog-slider_item .order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
}

.catalog .catalog-slider_item .order .rent {
  font-family: 'Fira Sans Condensed', sans-serif;
  text-decoration: underline;
  color: #ffc01e;
}

.catalog .catalog-slider .owl-nav {
  position: absolute;
  top: -60px;
  margin: 0;
  width: 100%;
}

.catalog .catalog-slider .owl-nav .owl-prev {
  position: absolute;
  top: 0;
  left: 0;
}

.catalog .catalog-slider .owl-nav .owl-prev span {
  font-size: 5rem;
  color: #064ea7;
}

.catalog .catalog-slider .owl-nav .owl-next {
  position: absolute;
  top: 0;
  right: 0;
}

.catalog .catalog-slider .owl-nav .owl-next span {
  font-size: 5rem;
  color: #064ea7;
}

.catalog .catalog-slider .owl-dots {
  margin-top: 2rem;
}

.catalog_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  max-width: 320px;
  padding: 16px;
}

.catalog_item .model-name {
  color: #444444;
  text-align: center;
}

.catalog_item .model-image {
  display: block;
  margin-bottom: 6px;
  text-align: center;
}

.catalog_item .model-image img {
  display: inline-block;
  max-width: 320px;
}

.catalog_item .model-parametr {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
}

.catalog_item .model-parametr li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #acacac;
  padding: 4px 0 0;
}

.catalog_item .model-parametr li span {
  display: inline-block;
  font-family: 'Fira Sans Condensed', sans-serif;
  text-align: left;
}

.catalog_item .rentprice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 8px;
  font-size: 1.8rem;
  text-align: right;
  color: #064ea7;
}

.catalog_item .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.4rem;
  text-align: right;
  color: #666666;
}

.catalog_item .order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
}

.catalog_item .order .rent {
  font-family: 'Fira Sans Condensed', sans-serif;
  text-decoration: underline;
  color: #ffc01e;
}

.product-desc .model-parametr {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
}

.product-desc .model-parametr li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #acacac;
  padding: 4px 0 0;
}

.product-desc .model-parametr li span {
  display: inline-block;
  font-family: 'Fira Sans Condensed', sans-serif;
  text-align: left;
}

.product-desc .rentprice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 8px;
  font-size: 1.8rem;
  text-align: right;
  color: #064ea7;
}

.product-desc .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.4rem;
  text-align: right;
  color: #666666;
}

.product-desc .order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
}

.product-desc .order .rent {
  font-family: 'Fira Sans Condensed', sans-serif;
  text-decoration: underline;
  color: #ffc01e;
}

.catalog-link {
  text-align: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 1.8rem;
  margin-top: 2rem;
}

.questions {
  background: -webkit-gradient(linear, left top, right top, from(#e6f0ff), color-stop(15%, #FFFFFF), color-stop(85%, #FFFFFF), to(#e6f0ff));
  background: linear-gradient(90deg, #e6f0ff 0%, #FFFFFF 15%, #FFFFFF 85%, #e6f0ff 100%);
}

.question-item {
  text-align: center;
  margin: 2rem 0;
}

.question-item img {
  display: inline-block;
  max-width: 65px;
  border-radius: 50%;
  margin-bottom: 1rem;
  -webkit-box-shadow: 5px 5px 10px #18330633;
          box-shadow: 5px 5px 10px #18330633;
}

.question-item .h3 {
  color: #379b00;
}

.question-item .answer {
  position: relative;
  display: block;
  padding: 10px;
  margin: 15px 0 0 0;
  border: 1px solid #379b00;
  border-radius: 6px;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 10px #18330633;
          box-shadow: 5px 5px 10px #18330633;
}

.question-item .answer::before {
  content: '';
  position: absolute;
  display: block;
  top: -6px;
  left: 48%;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-left: 1px solid #379b00;
  border-top: 1px solid #379b00;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.stages {
  padding-bottom: 6rem;
}

.stage-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
}

.stage-item_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 86px;
  height: 86px;
  font-size: 4.5rem;
  font-family: 'Fira Sans Condensed', sans-serif;
  border: 4px dashed #379b00;
  border-radius: 50%;
  color: #064ea7;
  margin-right: 3rem;
}

.stage-item_icon::before {
  content: '';
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  bottom: -30px;
  margin: 0 auto;
  width: 15px;
  height: 15px;
  border-right: 4px solid #379b00;
  border-bottom: 4px solid #379b00;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.stage-item_icon::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -30px;
  margin: 0 auto;
  width: 4px;
  height: 30px;
  -webkit-transform: translateX(-0.5px);
          transform: translateX(-0.5px);
  background-color: #379b00;
}

.stage-item_description {
  color: #379b00;
  font-size: 3rem;
}

.why {
  text-align: center;
}

.why-item {
  text-align: center;
  margin: 3rem 0;
}

.why-item .why-descr {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.why-item .why-digit {
  font-size: 2.5rem;
  color: #064ea7;
}

.why-item .why-digit span {
  display: block;
  font-family: 'Fira Sans Condensed', sans-serif;
  max-width: 40%;
  font-size: 6rem;
  margin: 0 auto;
  padding: 30px 0 20px;
  border-top: 6px solid #379b00;
}

.why-item .base-btn {
  position: relative;
}

.brands {
  background-color: #e7e7e7;
}

.brands .brands-wrapper {
  max-width: 80%;
  margin: 0 auto;
}

.brands .brands-wrapper .brand-slider {
  position: relative;
  margin: 3rem 0;
}

.brands .brands-wrapper .brand-slider_item {
  max-width: 120px;
  margin: auto;
}

.brands .brands-wrapper .brand-slider .owl-nav {
  position: absolute;
  top: 30%;
  width: 100%;
  margin: 0;
}

.brands .brands-wrapper .brand-slider .owl-nav .owl-prev {
  position: absolute;
  left: -50px;
  font-size: 4rem;
  color: #064ea7;
}

.brands .brands-wrapper .brand-slider .owl-nav .owl-next {
  position: absolute;
  right: -50px;
  font-size: 4rem;
  color: #064ea7;
}

.googlemap {
  height: 500px;
  margin: 0;
  padding: 0;
  font-size: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.footer {
  background-color: #686868;
  color: #fff;
  padding: 2rem 0 4rem;
}

.footer .contacts {
  margin-bottom: 3rem;
}

.footer .h4 {
  margin: 4rem 0 2rem;
}

.footer .copyright {
  margin-top: 6.5rem;
}

.footer_form .form-input {
  width: 100%;
  padding: 6px 12px;
  background-color: #bdbdbd;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 4px;
  margin-bottom: 2rem;
}

.footer .base-btn {
  margin: 0;
}

.footer .socialgroup {
  margin: 0 auto;
}

.footer .socialgroup .social-item {
  display: inline-block;
}

.footer .socialgroup .social-item i {
  display: block;
  color: #e6f0ff;
}

.footer .socialgroup .social-item i::before {
  font-size: 3.5rem;
}

.footer .socialgroup .social-item i:hover {
  color: #80b3ff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer .socialgroup .social-item i:active i {
  color: #67a4ff;
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s;
}
/*# sourceMappingURL=main.css.map */