.googlemap
	height: 600px
	margin: 0
	padding: 0
	font-size: 0
	box-sizing: border-box
	overflow: hidden

.footer
	background-color: #686868
	color: #fff
	padding: 5rem 0
	.contacts
		margin-left: 30px
	.h4
		margin-bottom: 2rem
	.copyright
		margin-left: 30px
		margin-top: 6.5rem
	&_form
		.form-input
			width: 55%
			padding: 6px 12px
			background-color: #bdbdbd
			border: none
			border-bottom: 1px solid #fff
			border-radius: 4px
			margin-bottom: 2rem
	.base-btn
		margin: 0
	.socialgroup
		margin: 0 auto
		.social-item
			display: inline-block
			i
				display: block
				color: $light-blue
				&::before
					font-size: 3.5rem
				&:hover
					color: darken($light-blue, 20%)
					transition: all .3s
				&:active
					i
						color: darken($light-blue, 25%)
						transition: transform .1s