.header-main
  .topmenu
    padding: 20px 0
    background: linear-gradient(180deg, #BCDDFC 0%, #FFFFFF 100%)
    .nav
      ul
        display: flex
        justify-content: space-around
        margin: 0
        padding: 0
        list-style: none
        li
          a
            font-size: 2rem
