.stage-item
  display: flex
  justify-content: start
  align-items: center
  margin: 2rem 0
  &_icon
    display: flex
    justify-content: center
    align-items: center
    width: 86px
    height: 86px
    font-size: 4.5rem
    font-family: 'Fira Sans Condensed', sans-serif
    border: 4px dashed $green
    border-radius: 50%
    color: $dark-blue
    margin-right: 3rem
  &_description
    color: $dark-blue
    font-size: 3rem
    
  
