html
	font-size: 10px
	box-sizing: border-box

	body
		font-family: 'Fira Sans Condensed', sans-serif
		font-size: 1.6rem

	.hidden
		display: none

	.img-respons
		position: relative
		display: inline-block
		max-width: 100%

@import header

